.flex{
display: flex;
justify-content: space-around;  
align-items: center;
}

.logo1{
width: 181.15px;
height: 50px;
gap: 10px;
flex-grow: 0;
}

.rectangle{
width: 2px;
height: 50px;
border-radius: 90px;
background: rgba(51, 197, 243, 1)
}

.txt{
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(137, 137, 137, 1);
font-family: Geometria;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}

.txt-2{
width: 265px;
height: 91px;    
font-family: Geometria;
font-size: 24px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: right;   
color: rgba(137, 137, 137, 1);
}

.button{
width: 170px;
height: 50px;
border-radius: 5px;
background-color: rgba(51, 197, 243, 1) ;
color: white; 
font-family: Geometria;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}

.box{
width: 1440px;
height: 810.99px;
background-image: url(img/bg-head.png);
}

.flex-2{
display: flex;
justify-content: space-around;  
align-items: center;
width: 1121px;
height: 20px;
top: 126px;
left: 160px;
}

.models{
width: 64px;
height: 20px;
top: 126px;
left: 160px;
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1); 
}

.calculator{
width: 107px;
height: 20px;
top: 126px;
left: 314px;
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;  
color: rgba(255, 255, 255, 1); 
}

.installment{
width: 88px;
height: 20px;
top: 126px;
left: 511px;
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;   
color: rgba(255, 255, 255, 1);  
}

.montash{
width: 67px;
height: 20px;
top: 126px;
left: 689px;
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);         
}

.our_projects{
width: 111px;
height: 20px;
top: 126px;
left: 846px;    
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1); 
}

.backcalls{
width: 64px;
height: 20px;
top: 126px;
left: 1047px;
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);     
}

.contacts{
width: 80px;
height: 20px;
top: 126px;
left: 1201px;
font-family: Geometria;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1); 
}